<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西安九洲铂泰医疗器械有限公司欢迎页面</title>
    <link rel="stylesheet" type="text/css" href="/css/sky/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/sky/demo.css">
    <link rel="stylesheet" href="/css/sky/style.css">
</head>
<body style="height: 520px; width: 99%">

<!--动态天空-->
<div class="satic-area" style="position:absolute;z-index: -99999">
    <div class="dynamic-area1"></div>
    <div class="dynamic-area2"></div>
</div>
<!--鲨鱼特效-->
<div id="whale" style="height: 520px; width: 99%"></div>
<script src="/js/whale/whale.js"></script>
</body>
</html>