<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>劳务服务机构台账</title>
    <link href="/css/hjia/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/hjia/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/css/hjia/animate.min.css" rel="stylesheet">
    <link href="/css/hjia/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/js/ztree/css/zTreeStyle.css" rel="stylesheet">
    <link href="/css/plugins/dataTables/dataTables.bootstrap.css" type="text/css" rel="stylesheet">

    <script src="/js/hjia/jquery.min.js?v=2.1.4"></script>
    <script src="/js/hjia/bootstrap.min.js?v=3.3.6"></script>
    <script src="/js/hjia/content.min.js?v=1.0.0"></script>

    <script src="/js/ztree/jquery.ztree.core.js"></script>
    <script src="/js/ztree/jquery.ztree.excheck.js"></script>
    <script src="/js/ztree/jquery.ztree.exedit.js"></script>

    <script src="/js/hjia/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/js/hjia/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/js/hjia/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/js/hjia/content.min.js?v=1.0.0"></script>
    <script src="/js/hjia/plugins/layer/layer.min.js"></script>
    <script src="/js/hjia/demo/layer-demo.min.js"></script>
    <script src="/js/hjia/plugins/validate/jquery.validate.min.js"></script>
    <script src="/js/hjia/plugins/validate/messages_zh.min.js"></script>
    <script src="/js/hjia/demo/form-validate-demo.min.js"></script>
    <script src="/js/hjia/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/js/hjia/plugins/layer/laydate/laydate.js"></script>

    <style>
        .col-lable2{width: 12%}
        .col-lable3{width: 21%}
        .col-lable4{width: 23%}
        .col-lable5{width: 73%}
        .form-group{
            margin-bottom: 0px;
        }
    </style>
    <style>
        .jindutiao_box {
            width: 397px;
            height: 300px;
            margin: 30px auto;
        }

        .jindutiao_ok {
            width: 200px;
            height: 100px;
            margin: 0 auto;
            text-align: center;
            background: #999;
            line-height: 100px;
            color: #FFF;
            display: none;
        }

        .jindutiao_tbox {
            width: 397px;
            height: 49px;
            background: url(/images/bak.png) no-repeat;
            margin-top: 20px;
        }

        .jindutiao_tbox div {
            width: 0px;
            height: 49px;
            background: url(/images/pro.png) no-repeat;
            text-align: center;
            font-family: Tahoma;
            font-size: 18px;
            line-height: 48px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="">
    <div class="row">
        <div class="col-sm-3" style="padding-right: 2px;width:17%">
            <div class="ibox-content" id="ztree_div_div" style="overflow-y:auto;">
                <ul id="tree-div" class="ztree" style="overflow: auto;"></ul>
            </div>
        </div>
        <div class="col-sm-9 animated fadeInRight" style="padding-left: 15px;width:83%">

            <div class="row">
                <div class="col-sm-14">
                    <div class="ibox float-e-margins border-bottom" style="margin-bottom: 0px;height: 50px;">
                        <div class="ibox-title">
                            <h5>查询条件&nbsp;&nbsp;&nbsp;&nbsp;目前所查询区域为：<span id="scan_xzqh" style="color: red"></span></h5>
                            <label style="width: 65%;margin-bottom: 0.1%;">
                                <a  href="javascript:void(0);" class="btn btn-primary " onclick="searchPoor()" style="float: right;margin-top: -1%; margin-right: 1%">查询</a>
                               <!-- <a  href="javascript:void(0);"  onclick="poiExcel()" class="btn btn-primary "  style="float: right;margin-top: -1%; margin-right: 1%">劳务扶贫公司台账导出</a>-->
                                <a href="javascript:void(0);" onclick="reset()" class="btn btn-primary "
                                   style="float: right;margin-top: -1%; margin-right: 1%">重置</a>
                            </label>
                            <div class="ibox-tools">
                                <a class="collapse-link" onclick="click_shousuo(this)">
                                    <i class="fa fa-chevron-down"><font color="blue">展开</font></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" id="select_div" style="display: none">

                            <label class="col-sm-1 control-label" style="width: 12%">级别：</label>
                            <div class="col-sm-3" style="width: 22%;top: -7px; margin-left: -25px">
                                <select id="lac005_scan"  class="form-control" name="lac005_scan">
                                    <option value=''>-- 请选择 --</option>
                                </select>                            </div>
                            <label class="col-sm-1 control-label" style="width: 12%">区域：</label>
                            <div class="col-sm-3" style="width:22%;top: -7px; margin-left: -25px">
                                <select id="lac011_scan"  class="form-control" name="lac011_scan">
                                    <option value=''>-- 请选择 --</option>
                                </select>                            </div>
                            <label class="col-sm-1 control-label" style="width: 12%">苏陕协作：</label>
                            <div class="col-sm-3" style="width:22%;top: -7px; margin-left: -25px">
                                <select id="lac012_scan"  class="form-control" name="lac012_scan">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label" style="width: 12%">易地扶贫搬迁：</label>
                            <div class="col-sm-3" style="width: 22%;top: -7px; margin-left: -25px">
                                <select id="lac008_scan"  class="form-control" name="lac008_scan">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label" style="width: 12%">认定年度：</label>
                            <div class="col-sm-3" style="width: 22%;top: -7px; margin-left: -25px">
                                <select id="lac010_scan"  class="form-control" name="lac010_scan">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>

                            <label style="width: 100%;margin-top: 5px;margin-bottom: -15px">
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-14">
                    <div class="ibox float-e-margins border-bottom" style="margin-bottom: 0px;">
                        <div class="ibox-title">
                            <h5>信息展示项》》》》<span id="zong_count" style="color: blue"></span></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link" onclick="click_shousuo(this)">
                                    <i class="fa fa-chevron-down"><font color="blue">展开</font></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="display: none">
                            <!-- <label onclick="check_onclick()"><input  name="checkname"  value="5" type="checkbox" ><span>是否苏陕协作</span></label>
                             <label onclick="check_onclick()"><input  name="checkname"  value="6"  type="checkbox" ><span>举办地点</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="7" type="checkbox" ><span>开始日期</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="8" type="checkbox" ><span>提供就业岗位</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="9" type="checkbox" ><span>贫困劳动力岗位</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="10" type="checkbox" ><span>参会人数</span></label>
                             <br/>
                             <label onclick="check_onclick()"><input  name="checkname" value="11" type="checkbox" ><span>贫困劳动力参会人数</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="12" type="checkbox" ><span>签订意向协议人数</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="13" type="checkbox" ><span>贫困劳动力签订意向人数</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="14" type="checkbox" ><span>1个月内就业人数</span></label>
                             <label onclick="check_onclick()"><input  name="checkname" value="15" type="checkbox" ><span>贫困劳动力就业人数</span></label>-->
                        </div>
                    </div>
                </div>
            </div>

            <!--这是列表信息开始-->
            <div class="row">
                <div class="col-sm-13" style="margin-top: -1%;">
                    <div class="ibox-content" id="table_div">
                        <table class="table table-striped table-bordered table-hover " id="laowu_company_table"><thead>
                        <tr>
                            <th>序号</th>
                            <th>操作</th>
                            <th>所属区域</th>
                            <th>劳务服务机构名称</th>
                            <th>劳务服务机构地址</th>
                            <th>级别</th>
                            <th>区域</th>
                            <th>苏陕协作</th>
                            <th>服务劳动力人数</th>
                            <th>服务贫困劳动力人数</th>
                            <th>是否易地扶贫搬迁</th>
                            <th>安置点名称</th>
                        </tr>
                        </thead><tbody id="table_tbody">
                        </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!--这是列表信息结束-->
    </div>
</div>
</div>



<!--模态窗口  劳务服务机构  div-->
<div class="modal inmodal" id="laowu_company_add" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin:auto;width:800px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header" style="padding: 10px 15px;text-align: left">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h6 id="laowu_company_head" class="modal-title" style="font-size:16px">新增劳务服务机构</h6>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" id="laowuCompanyForm" action="#" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">说明：</label>
                            <div class="col-sm-8" style="width: 73%;font-size: medium;margin-top: -3%;">
                                <br>劳务服务机构是指建在当地为贫困劳动力</br>提供各种劳务服务的各级公益性劳务服务机构</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">所属行政区划：<span style="color: red">*</span></label>
                            <div class="col-sm-8" style="width: 73%">
                                <input id="laowu_company_aab301_id" name="laowu_company_aab301_id"  readonly="readonly"  type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">劳务服务机构名称：<span style="color: red">*</span></label>
                            <div class="col-sm-8" style="width: 73%">
                                <input id="lac001" name="lac001"  type="hidden" >
                                <input id="laowu_company_aab301" name="aab301"  type="hidden" >
                                <input id="lac003"  class="form-control" name="lac003">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">劳务服务机构地址：<span style="color: red">*</span></label>
                            <div class="col-sm-8" style="width: 73%">
                                <input id="lac004"  class="form-control" name="lac004">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">级别：<span style="color: red">*</span></label>
                            <div class="col-sm-8" style="width: 73%">
                                <select id="lac005"  class="form-control" name="lac005">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">区域：<span style="color: red">*</span></label>
                            <div class="col-sm-3">
                                <select id="lac011" name="lac011"  class="form-control">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label col-lable4">苏陕协作：<span style="color: red">*</span></label>
                            <div class="col-sm-3">
                                <select id="lac012"  class="form-control" name="lac012">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">服务劳动力人数：<span style="color: red">*</span></label>
                            <div class="col-sm-3">
                                <input id="lac006" name="lac006"  type="number" class="form-control" >
                            </div>
                            <label class="col-sm-2 control-label col-lable4">服务贫困劳动力人数：<span style="color: red">*</span></label>
                            <div class="col-sm-3">
                                <input id="lac007"  class="form-control" name="lac007" type="number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">易地扶贫搬迁：<span style="color: red">*</span></label>
                            <div class="col-sm-3">
                                <select id="lac008" name="lac008"  class="form-control" onchange="changeCtf015(this.value,'show_lac009')">
                                    <option value=''>-- 请选择 --</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label col-lable4">安置点名称：<span id="show_lac009" style="color: red;display: none">*</span></label>
                            <div class="col-sm-3" >
                                <select id="lac009" name="lac009"  class="form-control" >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label col-lable4">建成时间：<span style="color: red">*</span></label>
                            <div class="col-sm-3">
                                <input id="lac010"  class="laydate-icon form-control layer-date" name="lac010">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-primary" onclick="saveLaborAlleviationCompany()">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-white" onclick="clean_input_laowu_company('qingkong')">清空</button>
            </div>
        </div>
    </div>
</div>
<!--模态窗口  劳务服务机构  div-->


<!--等待的模态框  和等待特效-->
<div class="modal inmodal fade" id="loading_div" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="scene">
            <svg style="width: 200px;height: 200px;"
                 version="1.1"
                 id="dc-spinner"
                 xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px"
                 viewBox="0 0 38 38"
                 preserveAspectRatio="xMinYMin meet"
            >
                <text x="14" y="21" font-family="Monaco" font-size="2px" style="letter-spacing:0.6" fill="yellow">LOADING
                    <animate
                            attributeName="opacity"
                            values="0;1;0" dur="1.8s"
                            repeatCount="indefinite"/>
                </text>
                <path fill="#373a42" d="M20,35c-8.271,0-15-6.729-15-15S11.729,5,20,5s15,6.729,15,15S28.271,35,20,35z M20,5.203
    C11.841,5.203,5.203,11.841,5.203,20c0,8.159,6.638,14.797,14.797,14.797S34.797,28.159,34.797,20
    C34.797,11.841,28.159,5.203,20,5.203z">
                </path>

                <path fill="#373a42" d="M20,33.125c-7.237,0-13.125-5.888-13.125-13.125S12.763,6.875,20,6.875S33.125,12.763,33.125,20
    S27.237,33.125,20,33.125z M20,7.078C12.875,7.078,7.078,12.875,7.078,20c0,7.125,5.797,12.922,12.922,12.922
    S32.922,27.125,32.922,20C32.922,12.875,27.125,7.078,20,7.078z">
                </path>

                <path fill="#2AA198" stroke="#2AA198" stroke-width="0.6027" stroke-miterlimit="10" d="M5.203,20
			c0-8.159,6.638-14.797,14.797-14.797V5C11.729,5,5,11.729,5,20s6.729,15,15,15v-0.203C11.841,34.797,5.203,28.159,5.203,20z">
                    <animateTransform
                            attributeName="transform"
                            type="rotate"
                            from="0 20 20"
                            to="360 20 20"
                            calcMode="spline"
                            keySplines="0.4, 0, 0.2, 1"
                            keyTimes="0;1"
                            dur="2s"
                            repeatCount="indefinite" />
                </path>

                <path fill="#859900" stroke="#859900" stroke-width="0.2027" stroke-miterlimit="10" d="M7.078,20
  c0-7.125,5.797-12.922,12.922-12.922V6.875C12.763,6.875,6.875,12.763,6.875,20S12.763,33.125,20,33.125v-0.203
  C12.875,32.922,7.078,27.125,7.078,20z">
                    <animateTransform
                            attributeName="transform"
                            type="rotate"
                            from="0 20 20"
                            to="360 20 20"
                            dur="1.8s"
                            repeatCount="indefinite" />
                </path>
            </svg>
        </div>
    </div>
</div>
<!--下载的 进度条特效  -->

<div class="modal inmodal fade" id="jindutiao_div" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="jindutiao_box">
            <div class="jindutiao_ok"></div>
            <div class="jindutiao_tbox">
                <div class="jindutiao_tiao"></div>
            </div>
        </div>
    </div>
</div>

<script>

    var laowu_company_datatable;//

    $(function () {
        //树节点的初始化事件
        $.fn.zTree.init($("#tree-div"), sys_perm_setting);

        queryAllAa10list();

        //设置树的高度
        $("#ztree_div_div").css({"height":$(window).height()});
        $("#table_div").css({"height":$(window).height()-70});

        //查询的收缩事件
        $(".collapse-link").click(function(){
            var o=$(this).closest("div.ibox"),e=$(this).find("i"),i=o.find("div.ibox-content");
            i.slideToggle(200),e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),o.toggleClass("").toggleClass("border-bottom"),setTimeout(function(){o.resize(),o.find("[id^=map-]").resize()},50)})


        //提示信息  初始化设置 一般不需要改
        lang = {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页 _MENU_ 项",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
            "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页",
                "sJump": "跳转"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        };


    })


    //树配置
    var sys_perm_setting = {
        edit: {
            drag:{
                prev: true,
                next: true,
                inner:true
            },
            enable: true,
            showRemoveBtn: false,
            showRenameBtn: false
        },
        view: {
            showLine: true,
            nameIsHTML: true
        },
        check: {
            enable: false,
            chkboxType:  { "Y": "s", "N": "s" } //chkboxType: { “Y”: “ps”, “N”: “ps” } Y 属性定义 checkbox 被勾选后的情况;N 属性定义 checkbox 取消勾选后的情况;“p” 表示操作会影响父级节点;“s” 表示操作会影响子级节点;请注意大小写，不要改变
        },
        data: {
            simpleData: {
                enable: true,
                pIdKey: "parentid"
            }
        },
        callback: {
            onClick: onClick,
            onAsyncSuccess:getTreeFirstNodeId
        },
        async: {
            enable: true,
            url:"/ztree/treedata",
            autoParam:["groupid"]
        }
    };

    //树节点的点击事件
    function onClick (event, treeId, treeNode, clickFlag) {
        $("#laowu_company_aab301").val(treeNode.groupid);
        $("#laowu_company_aab301_id").text(treeNode.name);
        loadLaborAlleviationCompany();
        if(treeNode.groupid.substring(2,4) !='00'){
            queryCentralizedSettlements();//安置点名称查询
        }
        $("#scan_xzqh").text(treeNode.name);
    }


    var treetype;         // 获取登录用户级别   树默认展开第一级节点
    function getTreeFirstNodeId(){
        var treeObj = $.fn.zTree.getZTreeObj("tree-div");
        var nodes = treeObj.getNodes();
        var firstNode = nodes[0];
        treeObj.expandNode(nodes[0], true);  treetype = firstNode.type;
        $("#laowu_company_aab301").val(firstNode.groupid);
        $("#laowu_company_aab301_id").text(firstNode.name);
        if(firstNode.groupid.substring(2,4) !='00'){
            queryCentralizedSettlements();//安置点名称查询
        }
        $("#scan_xzqh").text(treeNode.name);

    }


    //*******************************劳务服务机构************************************************************

    /**
     * 加载劳务服务机构 表格
     */
    function loadLaborAlleviationCompany(){
        //重要修改 表格内容的自定义，需要根据业务定制
        laowu_company_datatable = $("#laowu_company_table").dataTable({
            language:lang,  //提示信息
            autoWidth: false,  //禁用自动调整列宽
            ordering:false,//禁止排序
            scrollY:$(window).height()-200,//表窗口高度-100px
            scrollX:$(window).width(),
            destroy: true,
            stripeClasses: ["odd", "even"],  //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: false,  //隐藏加载提示,自行处理
            serverSide: true,  //启用服务器端分页
            bLengthChange:false,//去掉下面的没有多少条
            aLengthMenu:[50,100],  //用户可自选每页展示数量 5条或10条
            searching: false,  //禁用原生搜索
            orderMulti: true,  //启用多列排序
            order: [],  //取消默认排序查询,否则复选框一列会出现小箭头
            renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
            pagingType: "full_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
            columnDefs: [{
                "targets": 'nosort',  //列的样式名
                "orderable": false    //包含上样式名‘nosort’的禁止排序
            }],
            ajax: function (data, callback, settings) {
                $("#loading_div").modal('show');//加载动画
                //封装请求参数
                var param = {};
                param.length = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
                param.start = data.start;//开始的记录序号
                param.pageIndex = (data.start / data.length);//当前页码
                var aab301 = $("#laowu_company_aab301").val();//行政区划id
                var lac005 = $("#lac005_scan").val();
                var lac008 = $("#lac008_scan").val();
                var lac011 = $("#lac011_scan").val();
                var lac012 = $("#lac012_scan").val();
                var lac010 = $("#lac010_scan").val();
                param.aab301 = aab301;
                param.lac005 = lac005;
                param.lac008 = lac008;
                param.lac011 = lac011;
                param.lac012 = lac012;
                param.lac010 = lac010;
                //ajax请求数据方法
                $.ajax({
                    type: "POST",
                    url: "/Information/queryLaborAlleviationCompanyByAab301",//url请求的地址
                    cache: false,  //禁用缓存
                    data: param,  //传入组装的参数
                    dataType: "json",
                    success: function (result) {
                        var returnData = {};
                        //这里直接自行返回了draw计数器,应该由后台返回
                        //returnData.draw = data.draw;
                        //返回数据全部记录
                        returnData.recordsTotal = result.recordsTotal;
                        //后台不实现过滤功能，每次查询均视作全部结果
                        returnData.recordsFiltered = result.recordsFiltered;
                        //返回的数据列表
                        returnData.data = result.data;

                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                        $("#zong_count").text("总条数："+result.recordsTotal+"条");
                        //清除modal框
                        $("#loading_div").modal('hide');//清除加载动画
                    }
                });
            },
            //列表表头字段
            columns: [
                { "data": "rn","width":"40px" },
                {"data":"lac001","width": "120px", "render":function(data, type, full, meta){
                    if(treetype <= 3){     //说明是区县以上用户登录的，则可以删除
                        return	data="<button onclick=\"updateLaborAlleviationCompany('"+data+"')\"  class='btn btn-sm btn-primary btn-edit' data-toggle='modal' data-target='#laowu_company_add' >修 改</button>   <button  class='btn btn-sm btn-danger btn-del' onclick=\"delLaborAlleviationCompany('"+data+"')\">删 除</button>  ";
                    }else{   //说明是区县一下人登录的，则只能修改
                         return	data="<button onclick=\"updateLaborAlleviationCompany('"+data+"')\"  class='btn btn-sm btn-primary btn-edit' data-toggle='modal' data-target='#laowu_company_add' >修 改</button> ";
                    }
                   // return	data="<button onclick=\"updateLaborAlleviationCompany('"+data+"')\"  class='btn btn-sm btn-primary btn-edit' data-toggle='modal' data-target='#laowu_company_add' >修 改</button> ";
                     // return	data="<button onclick=\"updateLaborAlleviationCompany('"+data+"')\"  class='btn btn-sm btn-primary btn-edit' data-toggle='modal' data-target='#laowu_company_add' >修 改</button>   <button  class='btn btn-sm btn-danger btn-del' onclick=\"delLaborAlleviationCompany('"+data+"')\">删 除</button>  ";

                }},
                { "data": "aab301" },
                { "data": "lac003" },
                { "data": "lac004" },
                { "data": "lac005" },
                { "data": "lac011" },
                { "data": "lac012" },
                { "data": "lac006" },
                { "data": "lac007" },
                { "data": "lac008" },
                { "data": "lac009" }
                ]
        }).api();
        //此处需调用api()方法,否则返回的是JQuery对象而不是DataTables的API对象
    }

    /**
     * 保存劳务服务机构
     */
    function saveLaborAlleviationCompany() {
        if(checkLaborAlleviationCompany() == 1){
            $.ajax({
                url:"/Information/saveLaborAlleviationCompany",    //请求的url地址
                dataType:"text",   //返回格式为json
                async:false,//请求是否异步，默认为异步，这也是ajax重要特性
                data:$('#laowuCompanyForm').serialize(),    //参数值
                type:"POST",   //请求方式
                beforeSend:function(){
                    //请求前的处理
                    $("#laowu_company_add").modal('hide');
                },
                success:function(data){
                    clean_input_laowu_company("saveorupdate");
                    //请求成功时处理
                    if(data != null && data != undefined){
                        if(data == 'update'){
                            loadLaborAlleviationCompany();//派驻输入地劳务工作站
                            swal("修改成功！", "您已经成功修改了这条信息。", "success");
                        }else{
                            //$("#lac001").val(data);
                            loadLaborAlleviationCompany();//派驻输入地劳务工作站
                            swal("保存成功！", "您已经成功保存了这条信息。", "success");
                        }
                    }
                },
                complete:function(){

                },
                error:function(){
                    //请求出错处理
                }
            });
        }
    }

    //保存前校验必填项是否都填写
    function checkLaborAlleviationCompany() {
        var lac003 = $("#lac003").val();
        var lac004 = $("#lac004").val();
        var lac005 = $("#lac005").val();
        var lac006 = $("#lac006").val();
        var lac007 = $("#lac007").val();
        var lac008 = $("#lac008").val();
        var lac009 = $("#lac009").val();
        var lac010 = $("#lac010").val();
        var lac011 = $("#lac011").val();
        var lac012 = $("#lac012").val();
        var flag = 0;
        if(lac003 =="" || lac003 == null){
            swal({
                title: "请输入机构名称!",
                text: "您好！机构名称不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }
        if(lac010 =="" || lac010 == null){
            swal({
                title: "请输入建成时间!",
                text: "您好！建成时间不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }
        if(lac004 =="" || lac004 == null){
            swal({
                title: "请输入机构地址!",
                text: "您好！机构地址不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }
        if(lac005 =="" || lac005 == null){
            swal({
                title: "请输入级别!",
                text: "您好！级别不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }

        if(lac006 =="" || lac006 == null){
            swal({
                title: "请输入服务劳动力人数!",
                text: "您好！服务劳动力人数不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }
        if(lac007 =="" || lac007 == null){
            swal({
                title: "请输入服务贫困劳动力人数!",
                text: "您好！服务贫困劳动力人数不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }
        if(lac008 =="" || lac008 == null){
            swal({
                title: "请输入是否易地扶贫搬迁!",
                text: "您好！是否易地扶贫搬迁不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }else{
            if(lac008 =="1"){
                if(lac009 =="" || lac009 == null){
                    swal({
                        title: "请选择安置点名称!",
                        text: "您好！安置点名称不能为空",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    return flag;
                }
            }
        }
        if(lac011 =="" || lac011 == null){
            swal({
                title: "请输入区域!",
                text: "您好！区域不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }
        if(lac012 =="" || lac012 == null){
            swal({
                title: "请输入苏陕协作!",
                text: "您好！苏陕协作不能为空",
                timer: 2000,
                showConfirmButton: false
            });
            return flag;
        }

        flag = 1;
        return flag;
    }


    /**
     * 修改劳务服务机构
     */
    function updateLaborAlleviationCompany(id) {

        $("#laowu_company_head").text("修改劳务服务机构信息");
        $.ajax({
            url:"/Information/updateLaborAlleviationCompany",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"lac001":id},    //参数值
            type:"POST",   //请求方式
            beforeSend:function(){
                //请求前的处理
            },
            success:function(data){
                $("#lac001").val(data.lac001);
                $("#lac003").val(data.lac003);
                $("#lac004").val(data.lac004);
                $("#lac005").prop("value",data.lac005);
                $("#lac006").val(data.lac006);
                $("#lac007").val(data.lac007);
                $("#lac008").prop("value",data.lac008);
                $("#lac009").prop("value",data.lac009);
                $("#lac011").prop("value",data.lac011);
                $("#lac012").prop("value",data.lac012);
                $("#lac010").val(data.lac010);
                $("#laowu_company_aab301").val(data.aab301);
                queryAab301Info(data.aab301,"laowu_company_aab301_id");//给行政区划readonly 赋值
            },
            complete:function(){
                //请求完成的处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }

    /**
     * 删除派驻输入地劳务工作站
     */
    function delLaborAlleviationCompany(id) {
        swal({
            title: "您确定要删除这条信息吗",
            text: "删除后将无法恢复，请谨慎操作！",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText:"取消",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            $.ajax({
                url:"/Information/delLaborAlleviationCompany",    //请求的url地址
                dataType:"text",   //返回格式为json
                async:false,//请求是否异步，默认为异步，这也是ajax重要特性
                data:{"lac001":id},    //参数值
                type:"POST",   //请求方式
                beforeSend:function(){
                    //请求前的处理
                },
                success:function(data){
                    //请求成功时处理
                    if(data != null && data != undefined){
                        if(data == 'yes'){
                            loadLaborAlleviationCompany();//派驻输入地劳务工作站
                            swal("删除成功！", "您已经永久删除了这条信息。", "success");
                        }else if(data == 'no'){
                            swal("删除失败！", "您未删除这条信息。", "fail");
                        }
                    }
                },
                complete:function(){

                },
                error:function(){
                    //请求出错处理
                }
            });

        });
    }

    /**
     * 清空劳务服务机构
     */
    function clean_input_laowu_company(flag) {

        var lac001 = $("#lac001").val();
        var aab301 = $("#laowu_company_aab301").val();
        $("#laowu_company_add input").val('');
        $("#laowu_company_aab301").val(aab301);
        if(aab301 != null && aab301 !=''){
            queryAab301Info(aab301,"laowu_company_aab301_id");
        }
        $("#lac005").prop("value","");
        $("#lac008").prop("value","");
        $("#lac009").prop("value","");
        $("#lac011").prop("value","");
        $("#lac012").prop("value","");

        if(flag != "saveorupdate"){
            if(lac001 != null && lac001 !=''){
                updateLaborAlleviationCompany(lac001);
            }else{

            }
        }
    }


    /**
     * 展开收缩按钮的点击事件
     */
    function click_shousuo(sh){
        var flag = $(sh).children('i').attr('class');
        //判断现在是展开还是关闭状态
        if(flag == 'fa fa-chevron-down'){
            $(sh).children('i').html('<font color="blue">关闭</font>');
        }else if(flag == 'fa fa-chevron-up'){
            $(sh).children('i').html('<font color="blue">展开</font>');
        }
    }


    function check_onclick(){
        //获取选中的checkbox 的值
        var chk_value =[];//定义一个数组
        $('input[name="checkname"]:checked').each(function(){//遍历每一个名字为nodes的复选框，其中选中的执行函数
            chk_value.push($(this).val());//将选中的值添加到数组chk_value中
        });

        var notCheckedArr = []; //所有未选中的下复选框值
        $("input[name='checkname']:not(:checked)").each(function() {
            notCheckedArr.push($(this).val());
        });
        //将选中的值显示出来
        if(chk_value.length>0){
            for(var i=0;i<chk_value.length;i++){
                laowu_company_datatable.column(chk_value[i]).visible(true)//将第一列的数据显示
            }
        }
        //将未选中的值隐藏起来
        if(notCheckedArr.length>0){
            for(var i=0;i<notCheckedArr.length;i++){
                laowu_company_datatable.column(notCheckedArr[i]).visible(false)//将未选中的数据隐藏
            }
        }
    }

    function searchPoor() {
        loadLaborAlleviationCompany();
    }

    /**
     * 查询参数，获取对应的下拉值
     */
    function queryParam(aaa100,id){
        $("#"+id).empty();
        $.ajax({
            url:"/aa10/queryAa10",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:true,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"aaa100":aaa100},    //参数值
            type:"POST",   //请求方式
            beforeSend:function(){
                //请求前的处理
            },
            success:function(data){
                //请求成功时处理
                if(data != null && data != undefined){
                    var options ="";
                    options +="<option value=''>-- 请选择 --</option>";
                    for(var i=0;i<data.length;i++){
                        options +="<option value='"+data[i].aaa102+"'>"+data[i].aaa103+"</option>";
                    }
                    $("#"+id).append(options);
                }
            },
            complete:function(){
                //请求完成的处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }


    /**
     * 查询参数，获取对应的下拉值
     */
    function queryAllAa10list() {
        var aaa100 = ["EDC441","AAA022","AAC004","AAA023","AAA024","NIANDU"];
        $.ajax({
            url: "/aa10/queryAllAa10list",    //请求的url地址
            dataType: "json",   //返回格式为json
            async: false,//请求是否异步，默认为异步，这也是ajax重要特性
            // data: {"aaa100list": JSON.stringify(aaa100).toString()},    //参数值
            data:{},
            type: "POST",   //请求方式
            beforeSend: function () {
                //请求前的处理
            },
            success: function (data) {
                //请求成功时处理
                if (data != null && data != undefined) {

                    for(var i=0;i<data.length;i++){
                        var options = "";
                        if(data[i].aaa100 == 'EDC441'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            $("#thl007").append(options);
                            $("#thl008").append(options);
                            $("#thl011").append(options);
                            $("#lbk006").append(options);
                            $("#lbk007").append(options);
                            $("#psw005").append(options);
                            $("#lea010").append(options);
                            $("#lac008").append(options);
                            $("#lac008_scan").append(options);
                            $("#esp008").append(options);
                            $("#jib007").append(options);
                            //$("#lea006").append(options);
                            $("#lac012").append(options);
                            $("#lac012_scan").append(options);
                            $("#nst005").append(options);
                        }else if(data[i].aaa100 == 'AAA022'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            $("#thl002").append(options);
                        }else if(data[i].aaa100 == 'AAC004'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            $("#thl005").append(options);
                            $("#lbk004").append(options);
                            $("#ets005").append(options);
                        }else if(data[i].aaa100 == 'AAA023'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            $("#ets002").append(options);
                        }else if(data[i].aaa100 == 'AAA024'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            $("#psw003").append(options);
                            $("#lea007").append(options);
                            $("#lac005").append(options);
                            $("#lac005_scan").append(options);
                            $("#esp005").append(options);
                        }else if(data[i].aaa100 == 'LEA005'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            //$("#lea005").append(options);
                            $("#lac011").append(options);
                            $("#lac011_scan").append(options);
                        }else if(data[i].aaa100 == 'NIANDU'){
                            options += "<option value='" + data[i].aaa102 + "'>" + data[i].aaa103 + "</option>";
                            $("#bgl009").append(options);
                            $("#nst012").append(options);
                            $("#lac010_scan").append(options);
                        }

                    }
                }
            },
            complete: function () {
                //请求完成的处理
            },
            error: function () {
                //请求出错处理
            }
        });
    }

    /**
     * 导出劳动力就业信息
     */
    function poiExcel() {
        var param = {};
        param.jfr004 = $("#jfr004_scan").val();
        param.jfr015 = $("#jfr015_scan").val();
        param.jfr006 = $("#jfr006_scan").val();//年度
        param.aab301 = $("#aab301").val();
        window.location.href="/import/importJobFairAccount?param="+JSON.stringify(param);
        $("#jindutiao_div").modal('show');
        startJindutiao();
    }

    //*************以下是进度条的特效*************************************************************************************
    var i = 0;

    /*add——创建tbx下的div加文字和变宽度的方法*/
    function add(i) {
        var tbox = $(".jindutiao_tbox");
        var tiao = $(".jindutiao_tiao");
        tiao.css("width", i + "%").html(i + "%");
    }

    /*创建方法（i++循环起来）*/
    function startJindutiao(){
        $(".jindutiao_ok").html("导出完成。。。").fadeOut("slow");
        $(".jindutiao_ok").html("正在进行导出请稍等。。。").fadeIn("slow");
        if(i>100){
            i =0;
            $("#jindutiao_div").modal('hide');
            $(".jindutiao_ok").html("正在进行导出请稍等。。。").fadeOut("slow");
            $(".jindutiao_ok").html("导出完成。。。").fadeIn("slow");
            return;
        }
        if(i<=100){
            setTimeout("startJindutiao()",100)
            add(i);
            i++;
        }
    }

    //选择 是否扶贫安置点下拉框
    function changeCtf015(value){
        if(value=='1'){     //说明选中的是  “是”
            $("#show_ctf004").show();
        }else{
            $("#show_ctf004").hide();
        }
    }

    /**
     * 查询集中安置点名称，获取对应的下拉值
     */
    function queryCentralizedSettlements(){
        var aab301 = $("#laowu_company_aab301").val();
        $("#lac009").empty();

        $.ajax({
            url:"/aa10/queryCentralizedSettlementsByAab301",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"aab301":aab301},    //参数值
            type:"POST",   //请求方式
            beforeSend:function(){
                //请求前的处理
            },
            success:function(data){
                //请求成功时处理
                if(data != null && data != undefined){
                    var options ="";
                    options +="<option value=''>-- 请选择 --</option>";
                    for(var i=0;i<data.length;i++){
                        options +="<option value='"+data[i].cts001+"'>"+data[i].cts002+"</option>";
                    }


                    $("#lac009").append(options);
                    //$("#ctf004_scan").append(options);
                }
            },
            complete:function(){
                //请求完成的处理
            },
            error:function(){
                //请求出错处理
            }
        });
    }

    //重置按钮
    function reset() {
        $("#select_div input").val('');
        $("#select_div select").prop('value', '');
    }

    /**
     * 根据aab301查找名称
     */
    function queryAab301Info(aab301,hidden_id) {
        $.ajax({
            url:"/Information/queryAab301Info",    //请求的url地址
            dataType:"json",   //返回格式为json
            async:false,//请求是否异步，默认为异步，这也是ajax重要特性
            data:{"aab301":aab301},    //参数值
            type:"POST",   //请求方式
            beforeSend:function(){
                //请求前的处理
            },
            success:function(data){
                //请求成功时处理
                if(data != null && data != undefined){
                    $("#"+hidden_id).val(data.info);
                }
            },
            complete:function(){

            },
            error:function(){
                //请求出错处理
            }
        });
    }
</script>

<script>
    window.onload = function(){
        //屏蔽键盘事件
        document.onkeydown = function (){
            var e = window.event || arguments[0];
            //F12
            if(e.keyCode == 123){
                return false;
                //Ctrl+Shift+I
            }else if((e.ctrlKey) && (e.shiftKey) && (e.keyCode == 73)){
                return false;
                //Shift+F10
            }else if((e.shiftKey) && (e.keyCode == 121)){
                return false;
                //Ctrl+U
            }else if((e.ctrlKey) && (e.keyCode == 85)){
                return false;
            }
        };
        //屏蔽鼠标右键
        document.oncontextmenu = function (){
            return false;
        }
    }
</script>

</body>

</html>
