<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tdkj.dao.Relation.RelationMapper" >
  <resultMap id="BaseResultMap" type="com.tdkj.model.Relation" >
    <id column="RTN001" property="rtn001" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="PEOPLEID" property="peopleid" jdbcType="VARCHAR" />
    <result column="COMPANYID" property="companyid" jdbcType="VARCHAR" />
    <result column="AAB301" property="aab301" jdbcType="VARCHAR" />
    <result column="AAE036" property="aae036" jdbcType="TIMESTAMP" />
    <result column="AAE011" property="aae011" jdbcType="VARCHAR" />
    <result column="DATASOURCE" property="datasource" jdbcType="VARCHAR" />
    <result column="AAE100" property="aae100" jdbcType="VARCHAR" />
    <result column="UPDATEDATE" property="updatedate" jdbcType="TIMESTAMP" />
    <result column="UPDATEBY" property="updateby" jdbcType="VARCHAR" />
    <result column="CREATEBY" property="createby" jdbcType="VARCHAR" />
    <result column="AAE012" property="aae012" jdbcType="VARCHAR" />
    <result column="RTN002" property="rtn002" jdbcType="VARCHAR" />
    <result column="RTN003" property="rtn003" jdbcType="VARCHAR" />
    <result column="RTN004" property="rtn004" jdbcType="VARCHAR" />
    <result column="RTN005" property="rtn005" jdbcType="VARCHAR" />
    <result column="RTN006" property="rtn006" jdbcType="VARCHAR" />
    <result column="DELETEBY" property="deleteby" jdbcType="VARCHAR" />
    <result column="DELETEDATE" property="deletedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    RTN001, TYPE, PEOPLEID, COMPANYID, AAB301, AAE036, AAE011, DATASOURCE, AAE100, UPDATEDATE, 
    UPDATEBY, CREATEBY, AAE012, RTN002, RTN003, RTN004, RTN005, RTN006,DELETEBY,DELETEDATE
  </sql>

 <select id="selectByPrimaryKeyRtn" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
     r.RTN001, r.TYPE, r.PEOPLEID, r.COMPANYID, r.AAB301, r.AAE036, r.AAE011, r.DATASOURCE, r.AAE100, r.UPDATEDATE,
      r.UPDATEBY, r.CREATEBY, r.AAE012, r.RTN002, r.RTN003, r.RTN004, r.RTN005, r.RTN006,p.plf004 aac003 ,p.plf005 aac002 ,
   p.plf007 aac004 ,p.plf008 aac006
    from RELATION r left join poor_labor_force p on r.PEOPLEID=p.plf001
    where RTN001 = #{rtn001,jdbcType=VARCHAR}
  </select>

  <select id="selectCompanyid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select RTN001, PEOPLEID, COMPANYID, AAB301, AAE036, AAE011, DATASOURCE, AAE100, UPDATEDATE,
    UPDATEBY, CREATEBY, AAE012, RTN002, RTN003, RTN004, RTN005, RTN006,aac003 , aac002 ,rn,
    aac004 ,aac006
    from (select RTN001, PEOPLEID, COMPANYID, AAB301, AAE036, AAE011, DATASOURCE, AAE100, UPDATEDATE,
    UPDATEBY, CREATEBY, AAE012, RTN002, RTN003, RTN004, RTN005, RTN006,aac003 , aac002 ,
    aac004 ,aac006, rownum rn
    from ( select r.RTN001, r.TYPE, r.PEOPLEID, r.COMPANYID, r.AAB301, r.AAE036, r.AAE011, r.DATASOURCE, r.AAE100, r.UPDATEDATE,
    r.UPDATEBY, r.CREATEBY, r.AAE012, r.RTN002, r.RTN003, r.RTN004, r.RTN005, r.RTN006,a.plf004 aac003 ,a.plf005 aac002 ,
    (select AAA103
    from aa10
    where aaa100 = 'AAC004'
    AND AAA102 = a.plf007) aac004 ,a.plf008 aac006
    from RELATION r , poor_labor_force a
    where r.PEOPLEID=a.plf001 and a.aae100='1' and  COMPANYID = #{companyid,jdbcType=VARCHAR} and r.aae100='1'
    order by r.aae036 desc
    ) a1
    where rownum &lt;= #{pageSize})
    where rn &gt;= #{startRecord}
</select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RELATION
    where RTN001 = #{rtn001,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.tdkj.model.Relation" >
    insert into RELATION (RTN001, TYPE, PEOPLEID, 
      COMPANYID, AAB301, AAE036, 
      AAE011, DATASOURCE, AAE100, 
      UPDATEDATE, UPDATEBY, CREATEBY, 
      AAE012, RTN002, RTN003, 
      RTN004, RTN005, RTN006,DELETEBY,DELETEDATE
      )
    values (#{rtn001,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{peopleid,jdbcType=VARCHAR}, 
      #{companyid,jdbcType=VARCHAR}, #{aab301,jdbcType=VARCHAR}, #{aae036,jdbcType=TIMESTAMP}, 
      #{aae011,jdbcType=VARCHAR}, #{datasource,jdbcType=VARCHAR}, #{aae100,jdbcType=VARCHAR}, 
      #{updatedate,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{createby,jdbcType=VARCHAR}, 
      #{aae012,jdbcType=VARCHAR}, #{rtn002,jdbcType=VARCHAR}, #{rtn003,jdbcType=VARCHAR}, 
      #{rtn004,jdbcType=VARCHAR}, #{rtn005,jdbcType=VARCHAR}, #{rtn006,jdbcType=VARCHAR},
      ,#{deleteby,jdbcType=VARCHAR},#{deletedate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tdkj.model.Relation" >
    insert into RELATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rtn001 != null" >
        RTN001,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="peopleid != null" >
        PEOPLEID,
      </if>
      <if test="companyid != null" >
        COMPANYID,
      </if>
      <if test="aab301 != null" >
        AAB301,
      </if>
      <if test="aae036 != null" >
        AAE036,
      </if>
      <if test="aae011 != null" >
        AAE011,
      </if>
      <if test="datasource != null" >
        DATASOURCE,
      </if>
      <if test="aae100 != null" >
        AAE100,
      </if>
      <if test="updatedate != null" >
        UPDATEDATE,
      </if>
      <if test="updateby != null" >
        UPDATEBY,
      </if>
      <if test="createby != null" >
        CREATEBY,
      </if>
      <if test="aae012 != null" >
        AAE012,
      </if>
      <if test="rtn002 != null" >
        RTN002,
      </if>
      <if test="rtn003 != null" >
        RTN003,
      </if>
      <if test="rtn004 != null" >
        RTN004,
      </if>
      <if test="rtn005 != null" >
        RTN005,
      </if>
      <if test="rtn006 != null" >
        RTN006,
      </if>
      <if test="deleteby != null" >
        DELETEBY,
      </if>
      <if test="deletedate != null" >
        DELETEDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rtn001 != null" >
        #{rtn001,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="peopleid != null" >
        #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="aab301 != null" >
        #{aab301,jdbcType=VARCHAR},
      </if>
      <if test="aae036 != null" >
        #{aae036,jdbcType=TIMESTAMP},
      </if>
      <if test="aae011 != null" >
        #{aae011,jdbcType=VARCHAR},
      </if>
      <if test="datasource != null" >
        #{datasource,jdbcType=VARCHAR},
      </if>
      <if test="aae100 != null" >
        #{aae100,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="aae012 != null" >
        #{aae012,jdbcType=VARCHAR},
      </if>
      <if test="rtn002 != null" >
        #{rtn002,jdbcType=VARCHAR},
      </if>
      <if test="rtn003 != null" >
        #{rtn003,jdbcType=VARCHAR},
      </if>
      <if test="rtn004 != null" >
        #{rtn004,jdbcType=VARCHAR},
      </if>
      <if test="rtn005 != null" >
        #{rtn005,jdbcType=VARCHAR},
      </if>
      <if test="rtn006 != null" >
        #{rtn006,jdbcType=VARCHAR},
      </if>
      <if test="deleteby != null" >
        #{deleteby,jdbcType=VARCHAR},
      </if>
      <if test="deletedate != null" >
        #{deletedate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tdkj.model.Relation" >
    update RELATION
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="peopleid != null" >
        PEOPLEID = #{peopleid,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        COMPANYID = #{companyid,jdbcType=VARCHAR},
      </if>
      <if test="aab301 != null" >
        AAB301 = #{aab301,jdbcType=VARCHAR},
      </if>
      <if test="aae036 != null" >
        AAE036 = #{aae036,jdbcType=TIMESTAMP},
      </if>
      <if test="aae011 != null" >
        AAE011 = #{aae011,jdbcType=VARCHAR},
      </if>
      <if test="datasource != null" >
        DATASOURCE = #{datasource,jdbcType=VARCHAR},
      </if>
      <if test="aae100 != null" >
        AAE100 = #{aae100,jdbcType=VARCHAR},
      </if>
      <if test="updatedate != null" >
        UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UPDATEBY = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        CREATEBY = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="aae012 != null" >
        AAE012 = #{aae012,jdbcType=VARCHAR},
      </if>
      <if test="rtn002 != null" >
        RTN002 = #{rtn002,jdbcType=VARCHAR},
      </if>
      <if test="rtn003 != null" >
        RTN003 = #{rtn003,jdbcType=VARCHAR},
      </if>
      <if test="rtn004 != null" >
        RTN004 = #{rtn004,jdbcType=VARCHAR},
      </if>
      <if test="rtn005 != null" >
        RTN005 = #{rtn005,jdbcType=VARCHAR},
      </if>
      <if test="rtn006 != null" >
        RTN006 = #{rtn006,jdbcType=VARCHAR},
      </if>
      <if test="deleteby != null" >
        DELETEBY = #{deleteby,jdbcType=VARCHAR},
      </if>
      <if test="deletedate != null" >
        DELETEDATE = #{deletedate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where RTN001 = #{rtn001,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tdkj.model.Relation" >
    update RELATION
    set TYPE = #{type,jdbcType=VARCHAR},
      PEOPLEID = #{peopleid,jdbcType=VARCHAR},
      COMPANYID = #{companyid,jdbcType=VARCHAR},
      AAB301 = #{aab301,jdbcType=VARCHAR},
      AAE036 = #{aae036,jdbcType=TIMESTAMP},
      AAE011 = #{aae011,jdbcType=VARCHAR},
      DATASOURCE = #{datasource,jdbcType=VARCHAR},
      AAE100 = #{aae100,jdbcType=VARCHAR},
      UPDATEDATE = #{updatedate,jdbcType=TIMESTAMP},
      UPDATEBY = #{updateby,jdbcType=VARCHAR},
      CREATEBY = #{createby,jdbcType=VARCHAR},
      AAE012 = #{aae012,jdbcType=VARCHAR},
      RTN002 = #{rtn002,jdbcType=VARCHAR},
      RTN003 = #{rtn003,jdbcType=VARCHAR},
      RTN004 = #{rtn004,jdbcType=VARCHAR},
      RTN005 = #{rtn005,jdbcType=VARCHAR},
      RTN006 = #{rtn006,jdbcType=VARCHAR},
      DELETEBY = #{deleteby,jdbcType=VARCHAR},
    DELETEDATE = #{deletedate,jdbcType=TIMESTAMP}
    where RTN001 = #{rtn001,jdbcType=VARCHAR}
  </update>
  <!--根据行政区划查询社区工厂总条数-->
  <select id="queryAllByCompanyid" resultType="java.lang.String" parameterType="java.lang.String" >
    select count(1)
    from RELATION r , poor_labor_force a
    where r.PEOPLEID=a.plf001 and a.aae100='1' and  COMPANYID = #{companyid,jdbcType=VARCHAR} and r.aae100='1'
  </select>

  <!--根据行政区划查询社区工厂总条数-->
  <select id="queryAllByPlf001" resultType="java.lang.String" parameterType="java.lang.String" >
    select count(1)
    from RELATION
    where  aae100='1'
    <if test="peopleid != null and peopleid !='' " >
      and PEOPLEID =  #{peopleid}
    </if>
  </select>
  <update id="updateByCompanyid"  parameterType="com.tdkj.model.Relation" >
     update  RELATION set aae100='0' where companyid = #{companyid,jdbcType=VARCHAR}
  </update>


  <select id="queryRelationPlf001" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from RELATION
    where  aae100='1'
    <if test="peopleid != null and peopleid !='' " >
      and PEOPLEID =  #{peopleid}
    </if>
  </select>

</mapper>